<div class="currentTemperatureContainer" *ngIf="weather">
  <img src="{{ weather.weather[0].icon | iconUrlPipe }}" alt="" />
  <strong>{{ weather.main.temp }} °C</strong>
  <div>
    <span>{{ weather.weather[0].main }} - {{ weather.weather[0].description }}</span>
  </div>
  <div class="currentWeatherOtherData">
    <span>{{ weather.main.temp_min }} °C - {{ weather.main.temp_max }} °C</span>
    <span translate
      >HUMIDITY <strong>- {{ weather.main.humidity }}%</strong></span
    >
  </div>
</div>
