.resizableContent {
  background-color: var(--bg-color);
  border: 1px solid;
  padding: 16px;
  overflow-y: auto;
  margin-top: 44px;
}

.timeContainer {
  text-align: center;
  color: var(--header-bg-color);
}

.forecastContainer {
  display: flex;
}

.currentWeatherContainer {
  border: 1px solid;
  width: 50%;
}

.fiveDayWeatherContainer {
  border: 1px solid;
  width: 50%;
}

.loaderContainer p {
  text-align: center;
}

.refreshButton {
  background-color: var(--header-bg-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

.flag-icon {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .resizableContent {
    margin-top: 56px;
    padding: 32px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .currentWeatherContainer {
    width: 100%;
  }

  .fiveDayWeatherContainer {
    width: 100%;
  }

  .forecastContainer {
    display: block;
  }
}
