.resizableContent {
  border: 1px solid;
  padding: 16px;
}

.timeContainer {
  text-align: center;
  color: var(--header-bg-color);
}

.forecastContainer {
  display: flex;
}

.currentWeatherContainer {
  width: 50%;
  background-color: blue;
}

.fiveDayWeatherContainer {
  width: 50%;
  background-color: green;
}

.loaderContainer p {
  text-align: center;
}

.refreshButton {
  background-color: var(--header-bg-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}
