<div *ngIf="isLoading === false; else loaderDiv" class="resizableContent">
  <div class="timeContainer">
    <p>{{ city }}</p>
    <p>Pridobljeno {{ dataReceived | date: 'dd. MM. yyyy HH:mm' }}</p>
    <p><button (click)="refreshForecast()" class="refreshButton">Osveži</button></p>
  </div>
  <div class="forecastContainer">
    <div class="currentWeatherContainer">
      <app-current-temperature [weather]="weatherData"></app-current-temperature>
    </div>
    <div class="fiveDayWeatherContainer">
      <app-five-days-forecast [forecast]="forecastData"></app-five-days-forecast>
    </div>
  </div>
</div>
<ng-template #loaderDiv>
  <div class="loaderContainer">
    <p>Pridobivam podatke ...</p>
    <div class="loading"></div>
  </div>
</ng-template>
