/* You can add global styles to this file, and also import other style files */
@import './styles//loader.scss';

:root {
  --header-bg-color: #e86e1e;
  --bg-color: #87cefa;
}

body {
  max-width: 1140px;
  margin: auto;
}
